/* Exibe o rótulo do usuário mesmo em telas grandes */
.rotulo-usuario {
  display: inline !important;
  white-space: nowrap;
}

/* Mantém ícone e rótulo em uma única linha e remove o formato circular */
.rotulo-usuario-acao {
  width: auto !important;
  height: 2.5rem !important;
  border-radius: var(--content-border-radius) !important;
  padding: 0 0.5rem !important;
  gap: 0.5rem;
  align-items: center;
  white-space: nowrap;
}
