<div class="w-full">
  <form [formGroup]="filterForm">
    <p-toolbar styleClass="mb-6">
      <ng-template #start>
        <div class="flex items-center gap-2">
          <div>
            <label class="block font-bold mb-1">Por empresa</label>
            <p-select
              [options]="listaEmpresas"
              formControlName="empresaSelecionada"
              optionLabel="razaoSocial"
              optionValue="id"
              placeholder="Selecione a empresa">
            </p-select>
          </div>
          <div class="flex-4">
            <label class="block font-bold mb-1">Data Início</label>
            <p-datepicker formControlName="dtInicio" showIcon iconDisplay="input" dateFormat="dd/mm/yy" />
          </div>
          <div class="flex-4">
            <label class="block font-bold mb-1">Data Fim</label>
            <p-datepicker formControlName="dtFim" showIcon iconDisplay="input" dateFormat="dd/mm/yy" />
          </div>
        </div>
      </ng-template>
    </p-toolbar>
  </form>
</div>

<div class="w-full">
  <p-fluid class="grid grid-cols-12 gap-8">
    <div class="col-span-12 xl:col-span-6">
      <div class="card h-full">
        <div class="font-semibold text-xl mb-4">Visitas por Status</div>
        <p-chart
          type="doughnut"
          [data]="chartData"
          [options]="chartOptions"
          [plugins]="[centerTextPlugin]"
          style="height: 300px;">
        </p-chart>
      </div>
    </div>
  </p-fluid>
</div>
