<div class="w-full">

    <p-fluid class="grid grid-cols-12 gap-8">

        <!-- Card 1 -->
        <div class="col-span-12 xl:col-span-6">
            <div class="card h-full">
                <div class="font-semibold text-xl mb-4">Bar</div>
                <p-chart type="bar" [data]="barData" [options]="barOptions" style="height: 300px;"></p-chart>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-span-12 xl:col-span-6">
            <div class="card h-full">
                <div class="font-semibold text-xl mb-4">Pie</div>
                <p-chart type="pie" [data]="pieData" [options]="pieOptions" style="height: 300px;"></p-chart>
            </div>
        </div>
    </p-fluid>



</div>