<p-toast></p-toast>
<div class="w-full">
  <form [formGroup]="filterForm">
    <p-toolbar styleClass="mb-6">
      <ng-template #start>
        <div class="flex items-center gap-2">
          <div>
            <label class="block font-bold mb-1">Por empresa</label>
            <p-select [options]="listaEmpresas" 
             formControlName="empresaSelecionada"
             optionLabel="razaoSocial"
             optionValue="id" 
             placeholder="{{ (listaEmpresas?.length ? 'Selecione a empresa' : 'Sem empresas disponíveis') }}"
             [emptyMessage]="''"
             [emptyFilterMessage]="''">
            </p-select>
          </div>
          <div class="flex-4">
            <label class="block font-bold mb-1">Tipo de Plano de Ação</label>
            <p-select
              id="tipoPlano"
              formControlName="tipoPlano"
              [options]="tiposPlano"
              placeholder="Selecione um tipo"
              optionLabel="label"
              optionValue="value"
              styleClass="w-full">
          </p-select>
          </div>
          <div class="flex-4">
            <label class="block font-bold mb-1">Data Início</label>
            <p-datepicker  formControlName="dtInicio" showIcon iconDisplay="input" dateFormat="dd/mm/yy" />
          </div>
          <div class="flex-4">
            <label class="block font-bold mb-1">Data Fim</label>
            <p-datepicker  formControlName="dtFim" showIcon iconDisplay="input" dateFormat="dd/mm/yy" />
          </div>
          <div class="flex-4" style="margin-top: 20px;">
            <p-button label="Cosultar" (onClick)="aplicarFiltros()" />
          </div>
            <div class="flex-4" style="margin-top: 20px;">
            <p-button label="Limpar filtros" (onClick)="limparFiltro()" />
          </div>
           <div class="flex-4" style="margin-top: 20px;">
            <p-button label="Exportar CSV" (onClick)="exportarCsvCompleto()" />
          </div>
        </div>
      </ng-template>
    </p-toolbar>
  </form>
</div>

<p-table
    [value]="listaPlanoAcao"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
    [paginator]="true"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [rowsPerPageOptions]="[10,20,30]"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [responsiveLayout]="'scroll'"
    [scrollable]="true"
    currentPageReportTemplate="Mostrando {first}–{last} de {totalRecords}"
    [showCurrentPageReport]="true"
    styleClass="w-full tabela-zebrada">

    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <h5 class="m-0 font-semibold">Planos de Ação</h5>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>       
        <th pSortableColumn="nomeVisita" class="min-w-[120px]">
          Visita <p-sortIcon field="nomeVisita"></p-sortIcon>
        </th>
       
        <th pSortableColumn="nomeFuncionario" class="min-w-[120px]">
          Responsável <p-sortIcon field="nomeFuncionario"></p-sortIcon>
        </th>
        <th pSortableColumn="investimento" class="min-w-[150px] text-right">
          Investimento <p-sortIcon field="investimento"></p-sortIcon>
        </th>
        <th pSortableColumn="multa" class="min-w-[120px] text-right">
          Multa <p-sortIcon field="multa"></p-sortIcon>
        </th>
        <th pSortableColumn="dthrCriacao" class="min-w-[180px]">
          Criado em <p-sortIcon field="dthrCriacao"></p-sortIcon>
        </th>
         <th pSortableColumn="dthrAtualizacao" class="min-w-[180px]">
         Ultima atualização <p-sortIcon field="dthrAtualizacao"></p-sortIcon>
        </th>
         <th pSortableColumn="status" class="min-w-[120px]">
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
          <th class="min-w-[180px]"> Ação    </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr class="odd:bg-gray-50">
        <td>{{ row.nomeVisita }}</td>        
        <td class="text-right">  {{ row.nomeFuncionario }}</td>
        <td class="text-right"> R$ {{ row.investimento | number:'1.2-2' }}</td>
        <td class="text-right"> R$ {{ row.multa | number:'1.2-2' }}</td>
        <td>{{ row.dtHrCriacao | date:'dd/MM/yyyy HH:mm' }}</td>
         <td>{{ row.dtHrAtualizacao | date:'dd/MM/yyyy HH:mm' }}</td>
         <td>
          <span
            class="px-2 py-0.5 rounded-full text-xs font-medium"
            [ngClass]="{
              'bg-emerald-100 text-emerald-800': row.status === 'CO',
              'bg-amber-100 text-amber-800': row.status === 'EA' || row.status === 'AB',
              'bg-rose-100 text-rose-800': row.status === 'CA'
            }">
            {{ row.status }}
          </span>
        </td>
         <td>
          <p-button icon="pi pi-print" class="mr-2" (click)="exportarCSV(row)" [rounded]="true" [outlined]="true" />
          <p-button (click)="abrirNormas(row)" icon="pi pi-eye" class="mr-2" [rounded]="true" [outlined]="true" />
      </td>      
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">

    <tr *ngIf="totaisGerais">
      <td colspan="2" class="text-right text-sm text-gray-600">TOTAL (geral/filtros):</td>
      <td class="text-right text-sm text-gray-600">R$ {{ totaisGerais.totalInvestimento | number:'1.2-2' }}</td>
      <td class="text-right text-sm text-gray-600">R$ {{ totaisGerais.totalMulta | number:'1.2-2' }}</td>
      <td colspan="4"></td>
    </tr>
  </ng-template>
    
</p-table>

