<div class="w-full">
  <form [formGroup]="filterForm">
    <p-toolbar styleClass="mb-6">
      <ng-template #start>
        <div class="flex items-center gap-2">
          <div>
            <label class="block font-bold mb-1">Por norma</label>
            <p-select [options]="listaNormas" formControlName="normaSelecionada" optionLabel="descNorma"
              optionValue="id" placeholder="{{ (listaNormas.length ? 'Selecione a norma' : 'Sem normas disponíveis') }}"
              [emptyMessage]="''" [emptyFilterMessage]="''">
            </p-select>
          </div>
          <div class="flex-4">
            <label class="block font-bold mb-1">Data Início</label>
            <p-datepicker formControlName="dtInicio" showIcon iconDisplay="input" dateFormat="dd/mm/yy" />
          </div>
          <div class="flex-4">
            <label class="block font-bold mb-1">Data Fim</label>
            <p-datepicker formControlName="dtFim" showIcon iconDisplay="input" dateFormat="dd/mm/yy" />
          </div>
          <div class="flex-4" style="margin-top: 20px;">
            <p-button label="Cosultar" (onClick)="aplicarFiltros()" />
          </div>
          <div class="flex-4" style="margin-top: 20px;">
            <p-button label="Limpar filtros" (onClick)="limparFiltro()" />
          </div>
          <div class="flex-4" style="margin-top:20px;">
            <p-button label="Assinar Items" [disabled]="!normasConcluidas" (onClick)="assinarItems()">
            </p-button>
          </div>
          <div class="flex-4" style="margin-top: 20px;">
            <p-button label="Exportar CSV" (onClick)="exportarCsvNormasCompleto()" />
          </div>

        </div>
      </ng-template>
    </p-toolbar>
  </form>
</div>

<div>
  <p-table [value]="listaPlanoAcaoNormas" [lazy]="true" (onLazyLoad)="onLazyLoad($event)" [paginator]="true"
    [rows]="rows" [totalRecords]="totalRecords" [loading]="loading" [rowsPerPageOptions]="[10,20,30]"
    [sortField]="sortField" [sortOrder]="sortOrder" [responsiveLayout]="'scroll'" [scrollable]="true"
    currentPageReportTemplate="Mostrando {first}–{last} de {totalRecords}" [showCurrentPageReport]="true"
    styleClass="w-full tabela-zebrada">

    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <h5 class="m-0 font-semibold">Plano de Ação Norma</h5>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="norma" class="min-w-[120px]">
          Item <p-sortIcon field="norma"></p-sortIcon>
        </th>
        <th pSortableColumn="descricao" class="min-w-[120px]">
          Descricao <p-sortIcon field="descricao"></p-sortIcon>
        </th>
        <th pSortableColumn="totalMulta" class="min-w-[120px] text-right">
          Multa <p-sortIcon field="totalMulta"></p-sortIcon>
        </th>
        <th pSortableColumn="totalInvestimento" class="min-w-[150px] text-right">
          Investimento <p-sortIcon field="totalInvestimento"></p-sortIcon>
        </th>
        <th pSortableColumn="dthrCriacao" class="min-w-[180px]">
          Criado em <p-sortIcon field="dthrCriacao"></p-sortIcon>
        </th>
        <th pSortableColumn="dthrAtualizacao" class="min-w-[180px]">
          Ultima atualização <p-sortIcon field="dthrAtualizacao"></p-sortIcon>
        </th>
        <th pSortableColumn="status" class="min-w-[120px]">
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th class="min-w-[180px]"> Ação </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr class="odd:bg-gray-50">
        <td>{{ row.nrNorma ? row.nrNorma : 'CheckList'}}</td>
        <td>{{ row.nrNorma ? row.descNorma : row.descCheckList }}</td>
        <td class="text-right"> R$ {{ row.multa | number:'1.2-2' }}</td>
        <td class="text-right"> R$ {{ row.investimento | number:'1.2-2' }}</td>
        <td>{{ row.dtHrCriacao | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ row.dtHrAtualizacao | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <span class="px-2 py-0.5 rounded-full text-xs font-medium">
            {{ row.status }}
          </span>
        </td>
        <td>
          <p-button icon="pi pi-print" class="mr-2"  (click)="exportarNormasComItens(row.id)" [rounded]="true" [outlined]="true" />
          <p-button (click)="abrirInspecao(row.id)" icon="pi pi-eye" class="mr-2" [rounded]="true" [outlined]="true" />
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">

      <tr *ngIf="totaisGerais">
        <td colspan="2" class="text-right text-sm text-gray-600">TOTAL (geral/filtros):</td>
        <td class="text-right text-sm text-gray-600">R$ {{ totaisGerais.totalMulta | number:'1.2-2' }}</td>
        <td class="text-right text-sm text-gray-600">R$ {{ totaisGerais.totalInvestimento | number:'1.2-2' }}</td>
        <td colspan="4"></td>
      </tr>
    </ng-template>
  </p-table>
  <div class="flex justify-end mt-4">
  <button pButton type="button" icon="pi pi-arrow-left" label="Voltar" (click)="voltar()"></button>
</div>



</div>


<p-dialog header="Assinatura Digital" [(visible)]="dialogAssinatura" [modal]="true" [draggable]="false"
  [resizable]="false" [style]="{ width: '520px' }" (onShow)="onDialogShow()">
  <div #dialogContent style="width:100%;">
    <signature-pad #pad [options]="options"></signature-pad>

    <div class="flex justify-end gap-2 mt-3">
      <p-button label="Limpar" icon="pi pi-times" (onClick)="clear()"></p-button>
      <p-button label="Salvar" icon="pi pi-save" (onClick)="salvaAssinatura()"></p-button>
    </div>
  </div>
</p-dialog>