.tooltip-wide {
  max-width: 600px !important;  /* ajusta conforme preferir */
  white-space: normal !important; /* quebra linhas */
  max-height: 100px;
  text-align: justify;           /* opcional: deixa o texto mais legível */
}