<p-table
  [value]="historico"
  [paginator]="true"
  [rows]="rows"
  [totalRecords]="total"
  [lazy]="true"
  [loading]="loading"
  [rowsPerPageOptions]="[50,100]"
  (onLazyLoad)="onLazyLoad($event)">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 180px;">Data</th>
      <th>Plano anterior</th>
      <th>Plano atual</th>
      <th style="width: 160px;">Prorrata tipo</th>
      <th style="width: 160px;" class="text-right">Prorrata valor</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{ row.dataEvento | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ row.planoAnteriorNome || '-' }}</td>
      <td>{{ row.planoAtualNome || '-' }}</td>
      <td>{{ row.prorrataTipo || '-' }}</td>
      <td class="text-right">{{ (row.prorrataValor ?? 0) | currency: 'BRL':'symbol':'1.2-2' }}</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">Nenhum evento de histórico encontrado.</td>
    </tr>
  </ng-template>
</p-table>

