<p-toast></p-toast>
<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <div class="flex items-center gap-2">
            <div>              
               <p-button label="Cadastrar novo Site"  (onClick)="abreModalCadastro()" />
            </div>
            <div>              
                <p-button label="Vincular filial"   />
            </div>
        </div>    
  </ng-template>  
</p-toolbar>

<app-dialog-cadastro-sites 
  [visible]="dialogCadastro" 
  [siteSelecionado]="siteSelecionado"
  (fechar)="fechaModalCadastro()">
</app-dialog-cadastro-sites>

<p-table 
  #dt
  [value]="listaSites"
  [rows]="10"
  [columns]="cols" 
  [paginator]="true"
  dataKey="id"
  [tableStyle]="{ 'min-width': '75rem' }"
  [rowsPerPageOptions]="[10, 20, 30]"
  currentPageReportTemplate="Mostrando {first} de {last} total {totalRecords} sites"
  [showCurrentPageReport]="true">

  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Lista de sites</h5>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input pInputText type="text" (input)="filtro(dt, $event)" placeholder="Buscar..." />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>

      <th pSortableColumn="cnpj" style="min-width:16rem">
        CNPJ
      </th>
      <th pSortableColumn="razaoSocial" style="min-width:10rem">
        RAZÃO SOCIAL
        <p-sortIcon field="razaoSocial" />
      </th>
      <th pSortableColumn="email" style="min-width:10rem">
        E-MAIL
        <p-sortIcon field="email" />
      </th>
      <th pSortableColumn="nomeFantasia" style="min-width:10rem">
        NOME FANTASIA
        <p-sortIcon field="nomeFantasia" />
      </th>     
        <th pSortableColumn="ativo" style="min-width:10rem">
        ATIVO
      </th>
      <th style="min-width: 12rem">
        AÇÃO
      </th>
    </tr>
  </ng-template>

  <ng-template #body let-site>
    <tr>
      <td style="min-width: 16rem">{{ site.cnpj }}</td>
      <td>{{ site.razaoSocial}}</td>
      <td>{{ site.email}}</td>
      <td>{{ site.nomeFantasia }}</td>
        <td>
        <i class="pi" [ngClass]="{
                        'text-green-500 pi-check-circle': site.stAtivo =='A',
                        'text-red-500 pi-times-circle': site.stAtivo =='I'
                    }"></i>
      </td>
      <td>
        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editarSite(site)" />
      </td>
    </tr>
  </ng-template>

</p-table>