/* dialog-cadastro.component.css */
:host ::ng-deep .p-panel .p-panel-header {
  padding: .75rem 1rem;
}
:host ::ng-deep .p-panel .p-panel-content {
  padding: 1rem;
}
.uppercase { text-transform: uppercase; }