/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';




.p-datatable .p-datatable-tbody > tr:nth-child(even) { background: #e8effc; } /* alterne a cor aqui */
.p-datatable .p-datatable-tbody > tr:nth-child(odd)  { background: #ffffff; }
.p-datatable .p-datatable-tbody > tr:hover           { 
  background: var(--highlight-bg) !important; 
  color: var(--highlight-text-color) !important; 
}


.tooltip-wide {
  max-width: 600px !important;  /* ajusta conforme preferir */
  white-space: normal !important; /* quebra linhas */
  text-align: justify;           /* opcional: deixa o texto mais legível */
}